input {
    width: 70%;
    padding: 14px 0;
    text-indent: 20px;    
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    color: #d3d3d4;
}

input:active,
input:focus {
    outline: none;
    box-shadow: 0 0 2px 0 #3b9397 inset;
}

::placeholder {
    color: #d3d3d4;
}